NODE_ENV=development
APP_NAME=nest-api-template
APP_PORT=3000
CORS=

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=root
DB_DIALECT=postgres
DB_NAME=db_name

## Cache
ENABLE_CACHE=false
USE_LOCAL_CACHE=true
# REDIS_HOST=localhost
# REDIS_PORT=6379
# REDIS_DB=0
# REDIS_PASSWORD=
CACHE_TTL=600

JWTKEY=foobar
